__pycache__/
*.pyc
database/*.db
*.sqlite
*.sqlite3
.env
venv/
env/
.DS_Store
.idea/
.vscode/
static/uploads/
sqlite3.exe
*.exe
index_copy.html
node_modules/
instance/
npm-debug.log
yarn-debug.log
yarn-error.log